{% extends "base_dashboard.twig" %}

{% block title %}{{ l('Notifications') }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ assets('theme/default/css/token-input-facebook.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
{{ parent() }}
<input type="hidden" name="perPage" id="perPage" value="{{perPage}}">
<ul class="list-group notificationsList">
{% for n in getNotifications %}

{% if n.type == "success" %}
	{% set icon = "check-circle" %}
{% elseif n.type == "info" %}
	{% set icon = "info-circle" %}
{% elseif n.type == "warning" %}
	{% set icon = "exclamation-circle" %}
{% elseif n.type == "danger" %}
	{% set icon = "exclamation-triangle" %}
{% elseif n.type == "primary" %}
	{% set icon = "info-circle" %}
{% endif %}

<li class="list-group-item n-{{n.unid}} notification" id="notification_{{n.unid}}">
	<span class="deleteNotification pull-right" data-id="{{ n.unid }}"><i class="fa fa-close fa-fw" ></i></span>

	{% if n.is_seen == 0 %}
		<span class="readNotification pull-right" data-id="{{ n.unid }}"  data-status='1'><i class="fa fa-circle" title="{{l('Mark as read')}}"></i></span>
	{% else %}
		<span class="readNotification pull-right" data-id="{{ n.unid }}"  data-status='0'><i class="fa fa-circle-thin" title="{{l('Mark as unread')}}"></i></span>
	{% endif %}

	<i class="fa fa-{{icon}} text-{{n.type}}"></i>
	{{ n.title }} - <small class="text-muted">{{ fromUTC(n.created_at,user.currentUser.timezone)|date(date_format ~ ' H:i') }}</small>
	<p class="nContent">{{ n.content|striptags  }}</p>
</li>

{% else %}
<li class="list-group-item">{{l("You don't have any notifications")}}</li>
{% endfor %}
</ul>

 {% if getNotifications is not empty %}
<div class="loadMorePreloader"></div>
<button class="loadMoreBtn btn btn-primary full-width">{{l("Old notifications")}}</button>
 {% endif %}

{% endblock %}

{% block javascripts_footer %}
	{{ parent() }}
	<script type="text/javascript">


    $(document).ready(function(){
        if(window.location.hash != "") {
            $( "#notification_" + window.location.hash.substring(10) ).collapse("show");
            $( window.location.hash ).css( "border", "3px solid rgba(51, 122, 183, 0.60)" );
            $('html, body').animate({
              scrollTop: $( window.location.hash ).offset().top - 43
            }, 500);
        }
    });
    


	$(".loadMoreBtn").on("click",searchLoadMore);

	function searchLoadMore(){
		kp_preloader("on",".loadMorePreloader");
		$.ajax({
	      url: '{{ base_url("my_notifications/load_more/") }}'+$("#perPage").val(),
	      type: 'GET',
	      contentType: 'application/x-www-form-urlencoded',
	      success: function( data, textStatus, jQxhr ){
	        if(data.status == "ok"){

	        	var icons = {
	        		'success':'check-circle',
	        		'info':'info-circle',
	        		'warning':'exclamation-circle',
	        		'danger':'exclamation-triangle',
	        		'primary':'info-circle',
	        	}

	        	html = "";

	        	Object.keys(data.notifications).forEach(function(key) {
					html += "<li class='list-group-item n-"+data.notifications[key].unid+" notification'>";
					html += "<span class='deleteNotification pull-right' data-id='"+data.notifications[key].unid+"' aria-label='close'><i class='fa fa-close fa-fw' aria-hidden='true'></i></span>";

					if(data.notifications[key].is_seen == 0){
						html += "<span class='readNotification pull-right' data-id='"+data.notifications[key].unid+"' data-status='1'><i class='fa fa-circle' title='{{l('Mark as read')}}'></i></span>";
					}else{
						html += "<span class='readNotification pull-right' data-id='"+data.notifications[key].unid+"'  data-status='0'><i class='fa fa-circle-thin' title='{{l('Mark as unread')}}'></i></span>";
					}

					html += "<i class='fa fa-"+icons[data.notifications[key].type]+" text-"+data.notifications[key].type+"'></i> ";
					html += data.notifications[key].title;
					html += "<small class='text-muted'> "+data.notifications[key].created_at+"</small>";
					html += "<p class='nContent'>"+data.notifications[key].content+"</p>";
					html += "</li>";
				});

	        	if(data.notifications.length == 0){
	        		$("#perPage").val(0);
	        		$(".loadMoreBtn").hide();
	        	}else{
	        		$("#perPage").val(data.next);
	        	}

	        	$(".notificationsList").append(html);

	        }else{
	        	alertBox(data.message,"danger",false,false,false);
	        }
	      },
	      error: function( jqXhr, textStatus, errorThrown ){ 
	      	console.log(errorThrown);
	      	alertBox("{{ l('Unable to complete your request') }}","danger",false,false,false);
	      },
	      complete: function(){
	      	kp_preloader("off",".loadMorePreloader");
	      }
	    });
	}

	$(document).on("click",".notification .deleteNotification",function(){
		var notification = $(this).data("id");
		$.ajax({
	      url: '{{ base_url("my_notifications/delete/") }}'+notification,
	      type: 'GET',
	      contentType: 'application/x-www-form-urlencoded',
	      success: function( data, textStatus, jQxhr ){
	        if(data.status == "ok"){
	        	$(".notification.n-"+notification).css('background-color', "#e89997");
	        	$(".notification.n-"+notification).fadeOut(500, function(){ $(this).remove();});
	        }
	      },
	      error: function( jqXhr, textStatus, errorThrown ){ 
	      	console.log(errorThrown);
	      	alertBox("{{ l('Unable to complete your request') }}","danger",false,false,false);
	      },
	      complete: function(){}
	    });
	});

	$(document).on("click",".notification .readNotification",function(){
		var notification = $(this).data("id");
		var notificationStatus = $(this).data("status");
		$.ajax({
	      url: '{{ base_url("my_notifications/read_status/") }}'+notification+"/"+notificationStatus,
	      type: 'GET',
	      contentType: 'application/x-www-form-urlencoded',
	      success: function( data, textStatus, jQxhr ){
	        if(data.status == "ok"){
	        	$(".n-"+notification+" .readNotification i").toggleClass("fa-circle");
	        	$(".n-"+notification+" .readNotification i").toggleClass("fa-circle-thin");
	        }
	      },
	      error: function( jqXhr, textStatus, errorThrown ){ 
	      	console.log(errorThrown);
	      	alertBox("{{ l('Unable to complete your request') }}","danger",false,false,false);
	      },
	      complete: function(){}
	    });
	});

	</script>
{% endblock %}