{% extends "base_dashboard.twig" %}

{% block title %}
	{{ l("FAQs") }}
{% endblock %}

{% block body %}
  {{ parent() }}
<div class="messageBox"></div>
{% if user.hasPermission('admin') == true %}
  <div class="row">
      <div class="col-sm-12">
        <a href="{{ base_url("faq/manage") }}" class="btn btn-primary right">
          <i class="fa fa-plus"></i> {{ l("Manage FAQs") }}
        </a>
        <a href="{{ base_url("faq/manage/add") }}" class="btn btn-primary right">
          <i class="fa fa-plus"></i> {{ l("Add new FAQ") }}
        </a>
      </div>
    </div>
{% endif %}
<div class="panel-group" id="accordion">
  {% for faq in faqs %}
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq-{{ faq.id }}">
          {{ faq.question }}
        </a>
        {% if user.hasPermission('admin') == true %}
          <div class="tools">
            <a href="{{ base_url("faq/manage/edit/"~faq.id) }}" class="right editFaq">
            <i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a title='{{ l('Active/inactive') }}' class='text-{% if faq.active == 0 %}warning{% else %}primary{% endif%} toggleActiveBtn' data-id='{{ faq.id }}' >
              <i class="fa fa-eye{% if faq.active == 0 %}-slash{% endif%}" aria-hidden="true"></i>
            </a>
          </div>
        {% endif %}
      </h4>
    </div>
    <div id="faq-{{ faq.id }}" class="panel-collapse collapse">
      <div class="panel-body">{{ faq.answer|raw }}</div>
    </div>
  </div>
  {% else %}
    <div class="panel panel-default">
    <div id="faq-1" class="panel-collapse collapse in">
      <div class="panel-body">{{ l('No data available') }}</div>
    </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ assets('theme/default/css/emojionearea.min.css') }}">
{% endblock %}

{% block javascripts_footer %}
  {{ parent() }}
  <script>
    $(document).ready(function(){
        if(window.location.hash != "") {
            $( "#" + window.location.hash.substring(1) ).collapse("show");
            $( window.location.hash ).css({"background": "#fdffa6","transition": "1s"});
            setTimeout(function() {
              $($( window.location.hash )).css({"background": "none","transition": "1s"});
            }, 700);
            $('html, body').animate({
              scrollTop: $( window.location.hash ).offset().top - 50
            }, 500);
        }

        $( ".toggleActiveBtn" ).click(function(){
      var faq = $( this );
        $.ajax({
          url: '{{ base_url("faq/manage/toggle_active") }}',
          dataType: 'json',
          type: 'post',
          contentType: 'application/x-www-form-urlencoded',
          data: { 
            id: faq.data("id"),
            {{ config_item('csrf_token_name') }}: getCookie('{{ config_item('csrf_cookie_name') }}')
          },
          success: function( data, textStatus, jQxhr ){
              if(data.status == "ok"){
                faq.toggleClass( "text-warning" );
                faq.toggleClass( "text-primary" );
                faq.find("i").toggleClass( "fa-eye-slash" );
                faq.find("i").toggleClass( "fa-eye" );
                faq.find("i").removeClass("fa-exclamation");
              }else{
                faq.find("i").addClass("fa-exclamation");
                faq.find("i").removeClass("fa-toggle-on");
              }
          },
          error: function( jqXhr, textStatus, errorThrown ){ 
              faq.find("i").addClass("fa-exclamation");
              faq.find("i").removeClass("fa-eye");
              faq.find("i").removeClass("fa-eye-slash");
              console.log(errorThrown); 
          }
        });
    });
    });
  </script>
{% endblock %}